.DNbody {
    background: linear-gradient(200deg, #d9e0e6 60%, #68c077 60%);
  }
  
.cartHeadTitle{
  text-align:center;
}

  .second a:hover {
    color: rgb(92, 92, 92)
  }
  
  .active-2 {
    color: rgb(92, 92, 92)
  }
  
  .breadcrumb>li+li:before {
    content: ">>" !important
  }

  .DNa {
    text-decoration: none !important;
    color: #aaa
  }
