.modal-header{
    padding: 5px 15px;
    background-color: #333;
}
.modal-title{
    font-size: 18px;
    color: #fff;
}
.modal-footer{
    padding: 5px 15px;
}

.actionBtnContainer{
    display: flex;
    align-items: center;
}
 .actionBtnContainer_cat{
    background-color:#4CAF50 ;
 }

.actionBtnContainer > button{
    border: 0;
    margin: 0 5px;
    font-size: 20px;
}
.CAT {
    background-color:#4CAF50 ;
}
.del{
    background-color:red;
}
.add{
    background-color:#4CAF50 ;
}
.edit{
    background-color:#4CAF50 ;
}